{% extends 'core/base.html' %}
{% load static %}
{% block header %}
    {% include 'core/header.html'%}
{% endblock header %}

{% block contenido %}
<div class="s-content content">
    <main class="row content__page">
        
        <article class="column large-full entry format-standard">
            <div class="justify-content-center text-center">
                <h1>Usuario: <span class="text-danger">{{user.username}}</span></h1>
            <h2> Ya tenes una sesion abierta...</h2>
            </div>

        </article> <!-- end column large-full entry-->
    
  </main>


</div>
{% endblock contenido %}