{% extends 'core/base.html' %}

{% block header %}
    {% include 'core/header.html'%}
{% endblock header %}

{% block contenido %}

<div class="s-content content">
    <main class="row content__page">
        
        <section class="column large-full entry format-standard">

            <div class="content__page-header">
                <h1 class="display-1">
                Cambiar contraseña
                </h1>
            </div>

             <form method="post" action="{% url 'account:change_password' %}">
                {% csrf_token %}
            
                <div class="form-field {% if form.old_password.errors %}has-error{% endif %}">
                    <input name="old_password" id="id_old_password" class="full-width" placeholder="Ingrese su contraseña actual" autocomplete="current-password" type="password">
                    {% for error in form.old_password.errors %}
                        <div class="error-message"><p class="text-danger fs-5">{{ error }}</p></div>
                    {% endfor %}
                </div>
            
                <div class="form-field {% if form.new_password1.errors %}has-error{% endif %}">
                    <input name="new_password1" id="id_new_password1" class="full-width" placeholder="Ingrese Nueva Contraseña" autocomplete="new-password" type="password">
                    {% for error in form.new_password1.errors %}
                        <div class="error-message"><p class="text-danger fs-5">{{ error }}</p></div>
                    {% endfor %}
                </div>
                <div class="form-field {% if form.new_password2.errors %}has-error{% endif %}">
                    <input name="new_password2" id="id_new_password2" class="full-width" placeholder="Ingrese Nueva Contraseña" autocomplete="new-password" type="password">
                    {% for error in form.new_password2.errors %}
                        <div class="error-message"><p class="text-danger fs-5">{{ error }}</p></div>
                    {% endfor %}
                </div>
                <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Actualizar contraseña" type="submit">
                    <ul>
                        <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                        <li>Su contraseña debe contener al menos 8 caracteres.</li> 
                        <li>Su contraseña no puede ser una clave utilizada comúnmente.</li> 
                        <li>Su contraseña no puede ser completamente numérica.</li> 
                    </ul>   
            </form>
            <div class="text-center mt-4">
                <a class="text-dark" href="{% url 'account:profile' %}"><button type="button" class="btn btn-primary">Volver al perfil</button></a>
            </div>
            
        </section>

    </main>

</div>

{% endblock contenido %}