{% extends 'core/base.html' %}

{% block header %}
    {% include 'core/header.html'%}
{% endblock header %}

{% block contenido %}

<div class="s-content content">
    <main class="row content__page">
        
        <section class="column large-full entry format-standard">

            <div class="content__page-header">
                <h1 class="display-1">
                Cerraste Sesion...
                </h1>
                <h3 class="display-1">
                    Hasta pronto!
                    </h3>
            </div>

            

        </section>

    </main>

</div>

{% endblock contenido %}